@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #1a1a1d !important;
}

.no-decoration {
  color: black;
  text-decoration: none;
}

.href {
  text-decoration: none;
}

.container-wrapper {
  padding-left: 1%;
  padding-right: 1%;
}

.carousell-custom {
  margin-top: 1.4%;
  border: 1px solid;
  width: 100%;
  height: 300px;
}

.container-custom {
  padding-right: 5%;
  padding-left: 5%;
  background-color: #1a1a1d;
}
.container-custom .navbar-custom {
  background-color: #FFD700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-custom .navbar-custom .logo {
  padding: 1%;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: 15pt;
}
.container-custom .menu {
  display: flex;
  border-bottom: 1px solid #5a5a5a;
  margin-top: 1%;
  margin-bottom: 1.2%;
}
.container-custom .menu .list-menu {
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 0.2%;
  margin-bottom: 2px;
  font-weight: 700;
}
.container-custom .menu .active {
  border-bottom: 2px solid red;
}
.container-custom .item-produk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
  gap: 10.5px 10.5px;
}
.container-custom .item-produk .list-item-produk {
  border-radius: 7px;
  width: 8.7rem;
  margin-bottom: 1%;
  border: 1px solid;
  background-color: #e7e7e7;
}
.container-custom .item-produk .list-item-produk .pict-item-produk {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
}
.container-custom .item-produk .list-item-produk .title-item-produk {
  text-align: center;
  text-wrap: pretty;
}
.container-custom .item-kategori {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: left;
  gap: 10.5px 10.5px;
}
.container-custom .item-kategori .list-item-kategori {
  border-radius: 7px;
  width: 8.7rem;
  margin-bottom: 1%;
  border: 1px solid;
  background-color: #e7e7e7;
}
.container-custom .item-kategori .list-item-kategori .pict-item-kategori {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
}
.container-custom .item-kategori .list-item-kategori .title-item-kategori {
  text-align: center;
  text-wrap: pretty;
}
.container-custom .payMethod-va .payMethod-va-item {
  border: 1px solid #bec2c0;
  display: flex;
  margin-bottom: 1%;
}
.container-custom .payMethod-va .payMethod-va-item .gambar {
  width: 110px;
}
.container-custom .payMethod-va .payMethod-va-item .deskripsi {
  margin-left: 1%;
  width: 100%;
  display: flex;
}
.container-custom .payMethod-va .payMethod-va-item .deskripsi .nama-bank {
  font-weight: 500;
  width: 82%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .container-custom .payMethod-va .payMethod-va-item .deskripsi .nama-bank {
    display: none;
  }
}
.container-custom .payMethod-va .payMethod-va-item .deskripsi .harga {
  width: 27%;
  font-weight: 900;
  font-size: 13pt;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #026631;
}
@media screen and (max-width: 450px) {
  .container-custom .payMethod-va .payMethod-va-item .deskripsi .harga {
    font-size: 9pt;
    width: 100%;
  }
}
.container-custom .payMethod-va .payMethod-va-item.active {
  margin-top: 2%;
  margin-bottom: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 139, 74, 0.993);
}
.container-custom .payMethod-va .payMethod-va-item.active .harga {
  background-color: #032782;
}
.container-custom .produk-game {
  display: flex;
}
.container-custom .produk-game .section-left {
  width: 25%;
  margin-right: 2%;
  color: white;
}
.container-custom .produk-game .section-left .contain {
  background-color: #292929;
  padding: 1%;
  border: 1px solid #424242;
  height: 300px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 980px) {
  .container-custom .produk-game .section-left {
    width: 100%;
  }
  .container-custom .produk-game .section-left .contain {
    margin-bottom: 2%;
    border-radius: 5px;
    height: 320px;
    padding: 1%;
    border: 1px solid #424242;
  }
}
@media screen and (max-width: 600px) {
  .container-custom .produk-game .section-left {
    width: 100%;
  }
  .container-custom .produk-game .section-left .contain {
    margin-bottom: 2%;
    border-radius: 5px;
    height: 120px;
    padding: 1%;
    border: 1px solid #424242;
  }
}
@media screen and (max-width: 750px) {
  .container-custom .produk-game .section-left {
    width: 100%;
  }
  .container-custom .produk-game .section-left .contain {
    margin-bottom: 2%;
    border-radius: 5px;
    height: 220px;
    padding: 1%;
    border: 1px solid #424242;
  }
}
@media screen and (max-width: 450px) {
  .container-custom .produk-game .section-left {
    width: 100%;
  }
  .container-custom .produk-game .section-left .contain {
    margin-bottom: 2%;
    border-radius: 5px;
    height: 120px;
    padding: 1%;
    border: 1px solid #424242;
  }
}
.container-custom .produk-game .section-right {
  width: 73%;
}
.container-custom .produk-game .section-right .step-1 {
  border: 1px solid #424242;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
  background-color: #292929;
}
.container-custom .produk-game .section-right .step-1 .title {
  color: white;
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
}
.container-custom .produk-game .section-right .step-1 .form-id {
  display: flex;
}
.container-custom .produk-game .section-right .step-1 .form-id .user-id {
  width: 58%;
  margin-right: 2%;
}
.container-custom .produk-game .section-right .step-1 .form-id .user-id-ff {
  width: 100%;
}
.container-custom .produk-game .section-right .step-1 .form-id .server-id {
  width: 40%;
}
.container-custom .produk-game .section-right .step-2 {
  border: 1px solid #424242;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
  background-color: #292929;
}
.container-custom .produk-game .section-right .step-2 .title {
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
  color: white;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  width: 12rem;
  display: flex;
  height: 60px;
  background-color: white;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item.active {
  background-color: #032782;
  color: white;
  border: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 139, 74, 0.993);
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item.active .left .price-item {
  color: white;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item.active .left .title-item {
  color: white;
}
@media screen and (max-width: 980px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 .item {
    text-align: center;
    border: 1px solid;
    width: 32%;
  }
}
@media screen and (max-width: 600px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 .item {
    text-align: center;
    border: 1px solid;
    width: 8.6rem;
  }
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item .left {
  padding: 2%;
  width: 80%;
  font-weight: 400;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item .left .price-item {
  font-size: 9pt;
  font-weight: 700;
  text-align: center;
  margin-top: 7%;
  color: black;
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item .left .title-item {
  color: black;
}
@media screen and (max-width: 750px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 .item .left {
    text-align: center;
    width: 100%;
  }
}
.container-custom .produk-game .section-right .step-2 .section-step-2 .item .right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 750px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 .item .right {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 .item .right {
    width: 30%;
  }
}
@media screen and (max-width: 750px) {
  .container-custom .produk-game .section-right .step-2 .section-step-2 {
    display: flex;
    width: 100%;
    gap: 10px 10px;
    justify-content: center;
  }
}
.container-custom .produk-game .section-right .step-3 {
  border: 1px solid #424242;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
  background-color: #292929;
}
.container-custom .produk-game .section-right .step-3 .title {
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
  color: white;
}
.container-custom .produk-game .section-right .step-3 .form-voucher {
  display: flex;
}
.container-custom .produk-game .section-right .step-3 .form-voucher .voucher {
  width: 85%;
  margin-right: 2%;
}
.container-custom .produk-game .section-right .step-3 .alert-voucher {
  margin-left: 1%;
  margin-top: 1%;
  font-size: 13px;
}
@media screen and (max-width: 980px) {
  .container-custom .produk-game .section-right {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .container-custom .produk-game {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.accordion {
  padding: 1px;
}
.accordion .accordion-button {
  background-color: #C7C8CC;
}
.accordion .accordion-item {
  margin-bottom: 1px;
  background-color: #292929;
}
.accordion .btn-atas {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.accordion .btn-bawah {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.accordion .accordion-body {
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  margin-bottom: 1%;
  background-color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #007bff !important;
  color: #fff;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.accordion-button:active {
  box-shadow: none;
  outline: none;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.footer-custom {
  border: 1px solid;
  margin-top: 3%;
  height: 120px;
  background-color: #292929;
}
.footer-custom .content {
  padding-left: 1%;
  padding-right: 1%;
  color: white;
  font-family: "Roboto", sans-serif;
}
.footer-custom .content:hover {
  color: #FFD700;
}/*# sourceMappingURL=style.css.map */