.no-decoration {
    color: black;
    text-decoration: none;
}

.href {
    text-decoration: none;
}

.container-wrapper {
    padding-left: 1%;
    padding-right: 1%;
    // border: 1px solid;
}

.carousell-custom {
    margin-top: 1.4%;
    border: 1px solid;
    width: 100%;
    height: 300px;
}

.container-custom {
    padding-right: 5%;
    padding-left: 5%;

    .navbar-custom {
        border: 1px solid;

        .logo {
            padding: 1%;
            font-weight: 700;
            text-decoration: none;
            color: black;
        }
    }

    .menu {
        display: flex;
        border-bottom: 1px solid;
        margin-top: 1%;
        margin-bottom: 1.2%;

        .list-menu {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 0.2%;
            margin-bottom: 2px;
            font-weight: 700;
        }

        .active {
            border-bottom: 2px solid red;
        }
    }

    .item-produk {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-content: flex-start;

        .list-item-produk {
            border-radius: 7px;
            width: 13.1%;
            margin-bottom: 1%;
            margin-left: 1%;
            border: 1px solid;

            .pict-item-produk {
                width: 100%;
                height: 170px;
                display: flex;
                justify-content: center;
                border: 1px solid;
                align-items: center;
            }

            .title-item-produk {
                text-align: center;
                text-wrap: pretty;
                // white-space: nowrap;
            }
        }

    }

    .produk-ml {
        // border: 1px solid;
        display: flex;

        .section-left {
            border: 1px solid;
            width: 33%;
            margin-right: 2%;
            padding: 1%;
        }

        .section-right {
            width: 65%;

            .step-1 {
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .form-id {
                    display: flex;

                    .user-id {
                        width: 58%;
                        margin-right: 2%;
                    }

                    .server-id {
                        width: 40%;
                    }
                }
            }

            .step-2 {
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .section-step-2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px 15px;

                    .item {
                        border: 1px solid;
                        border-radius: 5px;
                        width: 31.8%;
                        display: flex;

                        .left {
                            padding: 2%;
                            width: 80%;
                        }

                        .right {
                            border: 1px solid;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
            }

            .step-3{
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .form-voucher {
                    display: flex;

                    .voucher{
                        width: 85%;
                        margin-right: 2%;
                    }
                }

                .alert-voucher{
                    margin-left: 1%;
                    margin-top: 1%;
                    font-size: 13px;
                }
            }
        }
    }
}

.footer-custom {
    border: 1px solid;
    margin-top: 3%;
    height: 120px;

    .content {
        padding-left: 1%;
        padding-right: 1%;
    }
}