.no-decoration {
  color: black;
  text-decoration: none;
}

.href {
  text-decoration: none;
}

.container-wrapper {
  padding-left: 1%;
  padding-right: 1%;
}

.carousell-custom {
  margin-top: 1.4%;
  border: 1px solid;
  width: 100%;
  height: 300px;
}

.container-custom {
  padding-right: 5%;
  padding-left: 5%;
}
.container-custom .navbar-custom {
  border: 1px solid;
}
.container-custom .navbar-custom .logo {
  padding: 1%;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.container-custom .menu {
  display: flex;
  border-bottom: 1px solid;
  margin-top: 1%;
  margin-bottom: 1.2%;
}
.container-custom .menu .list-menu {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 0.2%;
  margin-bottom: 2px;
  font-weight: 700;
}
.container-custom .menu .active {
  border-bottom: 2px solid red;
}
.container-custom .item-produk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: flex-start;
}
.container-custom .item-produk .list-item-produk {
  border-radius: 7px;
  width: 13.1%;
  margin-bottom: 1%;
  margin-left: 1%;
  border: 1px solid;
}
.container-custom .item-produk .list-item-produk .pict-item-produk {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
}
.container-custom .item-produk .list-item-produk .title-item-produk {
  text-align: center;
  text-wrap: pretty;
}
.container-custom .produk-ml {
  display: flex;
}
.container-custom .produk-ml .section-left {
  border: 1px solid;
  width: 33%;
  margin-right: 2%;
  padding: 1%;
}
.container-custom .produk-ml .section-right {
  width: 65%;
}
.container-custom .produk-ml .section-right .step-1 {
  border: 1px solid;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-1 .title {
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-1 .form-id {
  display: flex;
}
.container-custom .produk-ml .section-right .step-1 .form-id .user-id {
  width: 58%;
  margin-right: 2%;
}
.container-custom .produk-ml .section-right .step-1 .form-id .server-id {
  width: 40%;
}
.container-custom .produk-ml .section-right .step-2 {
  border: 1px solid;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-2 .title {
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-2 .section-step-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
}
.container-custom .produk-ml .section-right .step-2 .section-step-2 .item {
  border: 1px solid;
  border-radius: 5px;
  width: 31.8%;
  display: flex;
}
.container-custom .produk-ml .section-right .step-2 .section-step-2 .item .left {
  padding: 2%;
  width: 80%;
}
.container-custom .produk-ml .section-right .step-2 .section-step-2 .item .right {
  border: 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container-custom .produk-ml .section-right .step-3 {
  border: 1px solid;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-3 .title {
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid;
  margin-bottom: 2%;
}
.container-custom .produk-ml .section-right .step-3 .form-voucher {
  display: flex;
}
.container-custom .produk-ml .section-right .step-3 .form-voucher .voucher {
  width: 85%;
  margin-right: 2%;
}
.container-custom .produk-ml .section-right .step-3 .alert-voucher {
  margin-left: 1%;
  margin-top: 1%;
  font-size: 13px;
}

.footer-custom {
  border: 1px solid;
  margin-top: 3%;
  height: 120px;
}
.footer-custom .content {
  padding-left: 1%;
  padding-right: 1%;
}/*# sourceMappingURL=style.css.map */