// variable untuk menampung warna
$success: #032782;

.no-decoration {
    color: black;
    text-decoration: none;
}

.href {
    text-decoration: none;
}

.container-wrapper {
    padding-left: 1%;
    padding-right: 1%;
    // border: 1px solid;
}

.carousell-custom {
    margin-top: 1.4%;
    border: 1px solid;
    width: 100%;
    height: 300px;
}

.container-custom {
    padding-right: 5%;
    padding-left: 5%;

    .navbar-custom {
        border: 1px solid;

        .logo {
            padding: 1%;
            font-weight: 700;
            text-decoration: none;
            color: black;
        }
    }

    .menu {
        display: flex;
        border-bottom: 1px solid;
        margin-top: 1%;
        margin-bottom: 1.2%;

        .list-menu {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 0.2%;
            margin-bottom: 2px;
            font-weight: 700;
        }

        .active {
            border-bottom: 2px solid red;
        }
    }

    .item-produk {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-content: center;
        gap: 10.5px 10.5px;
        border: 1px solid;

        .list-item-produk {
            border-radius: 7px;
            // width: 13.1%;
            width: 8.7rem;
            margin-bottom: 1%;
            // margin-left: 1%;
            border: 1px solid;

            .pict-item-produk {
                width: 100%;
                height: 170px;
                display: flex;
                justify-content: center;
                border: 1px solid;
                align-items: center;
            }

            .title-item-produk {
                text-align: center;
                text-wrap: pretty;
                // white-space: nowrap;
            }
        }

    }


    .item-kategori {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-content: center;
        gap: 10.5px 10.5px;
        border: 1px solid;

        .list-item-kategori {
            border-radius: 7px;
            // width: 13.1%;
            width: 8.7rem;
            margin-bottom: 1%;
            // margin-left: 1%;
            border: 1px solid;

            .pict-item-kategori {
                width: 100%;
                height: 170px;
                display: flex;
                justify-content: center;
                border: 1px solid;
                align-items: center;
            }

            .title-item-kategori {
                text-align: center;
                text-wrap: pretty;
                // white-space: nowrap;
            }
        }

    }

    .payMethod-va {
        .payMethod-va-item {
            border: 1px solid #bec2c0;
            display: flex;
            margin-bottom: 1%;

            .gambar {
                width: 110px;
            }

            .deskripsi {
                margin-left: 1%;
                width: 100%;
                display: flex;

                .nama-bank {
                    font-weight: 500;
                    width: 82%;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width: 450px) {
                        display: none;
                    }
                }

                .harga {
                    width: 27%;
                    font-weight: 900;
                    font-size: 13pt;
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    background-color: #026631;

                    @media screen and (max-width: 450px) {
                        font-size: 9pt;
                        width: 100%;
                    }
                }
            }

            &.active {
                margin-top: 2%;
                margin-bottom: 4%;
                // box-shadow: 0 0 2px 2px #026631;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                    0 2px 4px rgba(0, 139, 74, 0.993);

                .harga {
                    background-color: $success;
                }
            }
        }
    }

    .produk-game {
        // border: 1px solid;
        display: flex;

        .section-left {
            // border: 1px solid;
            width: 25%;
            margin-right: 2%;

            .contain {
                padding: 1%;
                border: 1px solid;
                height: 300px;
            }

            @media screen and (max-width: 980px) {
                width: 100%;

                .contain {
                    margin-bottom: 2%;
                    border-radius: 5px;
                    height: 320px;
                    padding: 1%;
                    border: 1px solid;
                }
            }

            @media screen and (max-width: 600px) {
                width: 100%;

                .contain {
                    margin-bottom: 2%;
                    border-radius: 5px;
                    height: 120px;
                    padding: 1%;
                    border: 1px solid;
                }
            }

            @media screen and (max-width: 750px) {
                width: 100%;

                .contain {
                    margin-bottom: 2%;
                    border-radius: 5px;
                    height: 220px;
                    padding: 1%;
                    border: 1px solid;
                }
            }

            @media screen and (max-width: 450px) {
                width: 100%;

                .contain {
                    margin-bottom: 2%;
                    border-radius: 5px;
                    height: 120px;
                    padding: 1%;
                    border: 1px solid;
                }

            }
        }

        .section-right {
            width: 73%;

            .step-1 {
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .form-id {
                    display: flex;

                    .user-id {
                        width: 58%;
                        margin-right: 2%;
                    }

                    .user-id-ff {
                        width: 100%;
                    }

                    .server-id {
                        width: 40%;
                    }
                }
            }

            .step-2 {
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .section-step-2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px 15px;

                    .item {
                        border: 1px solid;
                        border-radius: 5px;
                        // width: 31.8%;
                        width: 12rem;
                        display: flex;
                        height: 60px;

                        &.active {
                            background-color: $success;
                            color: white;
                            border: none;
                            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2),
                                0 4px 6px rgba(0, 139, 74, 0.993);
                        }

                        @media screen and (max-width: 980px) {
                            text-align: center;
                            border: 1px solid;
                            width: 32%;
                        }

                        @media screen and (max-width: 600px) {
                            text-align: center;
                            border: 1px solid;
                            width: 8.6rem;
                        }

                        .left {
                            padding: 2%;
                            width: 80%;
                            font-weight: 400;

                            .price-item {
                                font-size: 9pt;
                                font-weight: 700;
                                text-align: center;
                                margin-top: 7%;
                            }

                            @media screen and (max-width: 750px) {
                                text-align: center;
                                width: 100%;
                            }

                        }

                        .right {
                            // border: 1px solid;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            // .gambar{
                            //     border-top-right-radius: 5px;
                            //     border-bottom-right-radius: 5px;
                            // }

                            @media screen and (max-width: 750px) {
                                display: none;
                            }

                            @media screen and (max-width: 980px) {
                                width: 30%;
                            }

                        }
                    }

                    @media screen and (max-width: 750px) {
                        display: flex;
                        width: 100%;
                        gap: 10px 10px;
                        justify-content: center;
                    }

                }
            }

            .step-3 {
                border: 1px solid;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                border-radius: 5px;
                margin-bottom: 2%;

                .title {
                    font-size: large;
                    font-weight: 800;
                    border-bottom: 2px solid;
                    margin-bottom: 2%;
                }

                .form-voucher {
                    display: flex;

                    .voucher {
                        width: 85%;
                        margin-right: 2%;
                    }
                }

                .alert-voucher {
                    margin-left: 1%;
                    margin-top: 1%;
                    font-size: 13px;
                }
            }

            @media screen and (max-width: 980px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 980px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

.accordion {
    padding: 1px;

    .accordion-button {
        background-color: #C7C8CC;
    }

    .accordion-item {
        margin-bottom: 1px;
    }

    .btn-atas {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    .btn-bawah {
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .accordion-body {
        border-bottom: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        margin-bottom: 1%;
    }
}

.accordion-button:not(.collapsed) {
    background-color: #007bff; // Ganti dengan warna yang diinginkan
    color: #fff; // Ganti dengan warna teks yang sesuai

    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none; // Menghilangkan bayangan
    outline: none; // Menghilangkan outline
}

.btn-center {
    display: flex;
    justify-content: center;
}

.footer-custom {
    border: 1px solid;
    margin-top: 3%;
    height: 120px;

    .content {
        padding-left: 1%;
        padding-right: 1%;
    }
}